body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.header {
  padding: 10px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(115, 69, 71, 1) 63%
  );
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.location-icon {
  font-size: 2rem;
  color: rgba(121, 9, 9, 1);
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.loader img {
  width: 100px;
  height: 100px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 30%;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}
.location-info ul {
  list-style-type: none;
  padding: 0;
}
.location-info li {
  padding: 5px 0;
}
@media screen and (max-width: 590px) {
  .location-info {
    height: fit-content;
    width: 70%;
    top: 100px;
  }
}
